<configuration scan="true" scanPeriod="2 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level[%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${westty.root.dir}/westty.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${westty.root.dir}/westty.%i.log.zip</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d %-5level[%c{20}:%line] %msg%n</pattern>
    </layout>
  </appender>
  <!--
      <logger name="org.apache" level="WARN" additivity="true"/>
      <logger name="org.hibernate" level="WARN" additivity="true"/>
      <logger name="org.jboss.weld" level="WARN" additivity="true"/>
      <logger name="org.quartz" level="WARN" additivity="true"/>
  -->
  <logger name="org.deephacks" level="DEBUG" additivity="true"/>
  <logger name="org.jboss.weld.interceptor.util.InterceptionTypeRegistry" level="OFF" additivity="true"/>
  <!-- default level -->
  <root level="WARN">
    <appender-ref ref="FILE" />
    <!-- <appender-ref ref="STDOUT" /> -->
  </root>


</configuration>